* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #eae8e8;
  color: #333;
  display: flex;
  flex-direction: column;
}

button {
  padding:10px 20px;
  background-color: #333;
  color: #fff;
  font-size: 1.3em;
  width: 100%;
  border: none;
  border-radius: 40px;
}

button::after {
  padding:10px 20px;
  background-color: #000;
  color: #fff;
  font-size: 1.3em;
  width: 100%;
}

button:hover, button:focus, button:active {
  background-color: #000;
}

a:link,
a:visited {
    color: #333;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #333;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #333;
    border-bottom: 1px solid transparent; 
    
}

.intro {
  background: #333;
  color: #fff;
  margin-bottom: 10px;
}

.skip {
  position: absolute;
  top: calc(-2.5em - 4px);
  left: 16px;
}

.skip a {
  position: absolute;
  top: 0;
  padding: 0.75em 1em;
  border: 2px solid;
  background: .333;
  color: #fff;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 10px 10px;
}

.navigation a {
  color: #fff;
  padding-bottom: 15px;
  font-size: 1.5em;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.navigation a:hover, .navigation a:focus {
  border-bottom: 2px solid #fff;
}

.background {
  padding-top: 30px;
}

.container {
  max-width: 100%;
  width: 85ex;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px 32px;
}

.portrait {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.usp {
  text-align: center;
}

.posts {
  display: block;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
}

.blog-img {
  max-width: 100%;
}

.flex-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.btn:link, .btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: #333;
  color: #fff;
}

.btn:hover, .btn:active .btn-blog:hover, .btn-blog:active {
  background-color: #000;;
}

.btn-blog:link, .btn-blog:visited {
  display: block;
  margin: 20px auto;
  width: 100%;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.btn-blog:hover, .btn-blog:active {
  background-color: #000;;
}

input[type=text]{
  margin-bottom: 30px;
  width: 100%;
  padding: 12px;
}

input[type=email] {
  margin-bottom:30px;
  width: 100%;
  padding: 12px;
}

footer {
  padding: 32px;
  border-top: 4px solid #333;
}

@media screen and (min-width: 480px) {
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 10px 10px;
    list-style: none;
  }

.navigation a {
    padding: 20px;
  }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.btn-blog:link, .btn-blog:visited {
  width: 50%;
}

button {
  width: 50%;
}

.posts {
  width: 30%;
}

.intro {
  margin-bottom: 0px;
}

input[type=text]{
  margin-bottom: 40px;
}

input[type=email] {
  margin-bottom: 40px;
}
}