* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

h1 {
  line-height: 2rem;
}

button {
  padding: 0.5rem;
  background-color: #333;
  color: #fff;
  font-size: 1.3rem;
  width: 100%;
  border: none;
  border-radius: 40px;
}

button: :after {
  padding:10px 20px;
  background-color: #000;
  color: #fff;
  font-size: 1.3em;
  width: 100%;
}

button:hover, button:focus, button:active {
  background-color: #000;
}

a:link,
a:visited {
  color: #333;
  text-decoration: none;
  border-bottom: 1px transparent #333;

}

a:hover,
a:active {
    color: #333;
    border-bottom: 1px solid #333;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.1s, color 0.1s;

}

.skip {
  position: absolute;
  top: calc(-2.5em - 4px);
  left: -16px;
}

.skip a {
  position: absolute;
  top: 0;
  padding: 0.75em 1em;
  border: 2px solid;
  background: .333;
  color: #fff;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
}

.skip:focus {
  left: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 1rem 0rem;
  letter-spacing: 0.1rem;
}

.navigation a {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.background {
  margin-top: 2rem;
}

.container {
  max-width: 100%;
  width: 85ex;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px 32px;
}

.portrait {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.usp {
  text-align: center;
}

.posts {
  display: block;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.blog-img {
  max-width: 100%;
}

.flex-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.blog-post-date {
  font-size: 0.8rem;
  color: #666060;
}

.blog-post-image {
  max-width: 100%;
  display: block;
}

.btn:link, .btn:visited {
  display: inline-block;
  padding: 0.5rem 3rem;
  font-weight: 300;
  text-decoration: none;
  border-radius: 1rem;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: #333;
  color: #fff;
}

.btn:hover, .btn:active .btn-blog:hover, .btn-blog:active {
  background-color: #000;;
}

input[type=text]{
  margin-bottom: 3rem;
  width: 100%;
  padding: 1rem;
}

input[type=email] {
  margin-bottom: 3rem;
  width: 100%;
  padding: 1rem;
}

footer {
  padding: 3rem;
  border-top: 4px solid #333;
}

@media screen and (min-width: 480px) {
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0 4rem 0 0;
    padding: 1rem 1rem;
    list-style: none;
  }

.navigation a {
    padding: 1rem 2rem;
  }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.2rem;
}

.btn-blog:link, .btn-blog:visited {
  width: 50%;
}

button {
  width: 50%;
}

.posts {
  width: 30%;
}

.intro {
  margin-bottom: 0rem;
}

input[type=text]{
  margin-bottom: 3.2rem;
}

input[type=email] {
  margin-bottom: 3.2rem;
}
}